Typcial Steps to Clean Data
---

In [1]:
import pandas as pd
data_files = [
    "ap_2010.csv",
    "class_size.csv",
    "demographics.csv",
    "graduation.csv",
    "hs_directory.csv",
    "sat_results.csv"
]
data = {}

for file in data_files:
    name = file.replace('.csv', '')
    data[name] = pd.read_csv('schools/{}'.format(file))

print(data)

{'ap_2010':         DBN                                         SchoolName  \
0    01M448                       UNIVERSITY NEIGHBORHOOD H.S.
1    01M450                             EAST SIDE COMMUNITY HS
2    01M515                                LOWER EASTSIDE PREP
3    01M539                     NEW EXPLORATIONS SCI,TECH,MATH
4    02M296              High School of Hospitality Management
5    02M298                                   Pace High School
6    02M300  Urban Assembly School of Design and Construction,
7    02M303                         Facing History School, The
8    02M305  Urban Assembly Academy of Government and Law, The
9    02M308                       Lower Manhattan Arts Academy
10   02M400                       HS FOR ENVIRONMENTAL STUDIES
11   02M408                       PROFESSIONAL PERFORMING ARTS
12   02M411                           BARUCH COLLEGE CAMPUS HS
13   02M412                       NYC LAB HS FOR COLL. STUDIES
14   02M413                               SCHOOL OF THE FUTURE
15   02M414                                  NYC MUSEUM SCHOOL
16   02M416                      Eleanor Roosevelt High School
17   02M418                             Millennium High School
18   02M420                           HEALTH PROF & HUMAN SVCS
19   02M425                        H S FOR LEADERSHIP & PUBLIC
20   02M429                                      LEGACY SCHOOL
21   02M439                       MANHATTAN VILLAGE ACADEMY HS
22   02M440                                  HS FOR HUMANITIES
23   02M459                        CES-MANHATTAN INTERNATIONAL
24   02M460                               WASHINGTON IRVING HS
25   02M475                                      STUYVESANT HS
26   02M489                          HS OF ECONOMICS & FINANCE
27   02M519                                   TALENT UNLIMITED
28   02M520                               MURRY BERGTRAUM H.S.
29   02M529                           JACQUELINE K. ONASSIS HS
..      ...                                                ...
228  28Q620                                  THOS A EDISON VHS
229  28Q680                         GATEWAY TO HEALTH SCIENCES
230  28Q687                Queens HS for Science York Colllege
231  28Q690  High School for Law Enforcement and Public Safety
232  28Q896           Young  Women's Leadership School, Queens
233  29Q248                         Queens Preparatory Academy
234  29Q259  Pathways College Preparatory School: A College...
235  29Q272  George Washington Carver High School for the S...
236  29Q283                    Preparatory Academy for Writers
237  29Q420                             SPRINGFIELD GARDENS HS
238  29Q492                     MATH/SCIENCE RESEARCH TECH CTR
239  29Q496                     BUSINESS/COMPUTER APPLICATIONS
240  30Q445                                WM CULLEN BRYANT HS
241  30Q450                                LONG ISLAND CITY HS
242  30Q501                          FRANK SINATRA HIGH SCHOOL
243  30Q502                          INFORMATION TECHNOLOGY HS
244  30Q555                         NEWCOMERS HS:ACAD AMER STD
245  30Q575                        ACADEMY OF AMER. STUDIES HS
246  31R080                         PS 080 MICHAEL J. PETRIDES
247  31R440                                        NEW DORP HS
248  31R445                                   PORT RICHMOND HS
249  31R450                                          CURTIS HS
250  31R455                                     TOTTENVILLE HS
251  31R460                                 SUSAN E. WAGNER HS
252  31R600                                    RAPLH MCKEE VHS
253  31R605                         STATEN ISLAND TECHNICAL HS
254  32K545                      EBC-HS FOR PUB SERVICE (BUSH)
255  32K552                          Academy of Urban Planning
256  32K554               All City Leadership Secondary School
257  32K556  Bushwick Leaders High School for Academic Exce...

    AP Test Takers  Total Exams Taken Number of Exams with scores 3 4 or 5
0                39                49                                   10
1                19                21                                    s
2                24                26                                   24
3               255               377                                  191
4                 s                 s                                    s
5                21                21                                    s
6                99               117                                   10
7                42                44                                    s
8                25                37                                   15
9                 s                 s                                    s
10              213               298                                  152
11               20                20                                   15
12               78               115                                   88
13              114               140                                   97
14               11                11                                    s
15                s                 s                                    s
16              155               235                                  169
17               86                95                                   67
18              204               248                                   75
19               70                84                                   32
20               22                26                                    s
21               42                69                                   29
22                6                 6                                    s
23               12                12                                    6
24               69                83                                   21
25             1510              2819                                 2648
26              101               176                                   78
27               30                34                                   21
28              118               157                                   76
29               80               118                                   29
..              ...               ...                                  ...
228             183               244                                  100
229              89               136                                   57
230             215               338                                  275
231              19                19                                    s
232               6                 6                                    s
233              15                15                                    s
234              29                71                                    s
235              14                21                                    s
236              40                43                                    s
237               s                 s                                    s
238              22                31                                    8
239               s                 s                                    s
240             243               330                                   97
241             406               805                                  169
242             108               136                                   38
243              51                74                                   13
244             119               163                                  140
245             101               170                                  119
246             162               243                                   66
247              96               118                                   62
248             194               304                                   76
249             247               295                                   90
250             396               687                                  206
251             279               408                                  175
252               s                 s                                    s
253             528               905                                  809
254              47                64                                   13
255              76               100                                   10
256               7                 8                                    s
257              34                35                                   18

[258 rows x 5 columns], 'class_size':        CSD BOROUGH SCHOOL CODE  \
0        1       M        M015
1        1       M        M015
2        1       M        M015
3        1       M        M015
4        1       M        M015
5        1       M        M015
6        1       M        M015
7        1       M        M015
8        1       M        M015
9        1       M        M015
10       1       M        M015
11       1       M        M015
12       1       M        M019
13       1       M        M019
14       1       M        M019
15       1       M        M019
16       1       M        M019
17       1       M        M019
18       1       M        M019
19       1       M        M019
20       1       M        M019
21       1       M        M019
22       1       M        M019
23       1       M        M019
24       1       M        M019
25       1       M        M020
26       1       M        M020
27       1       M        M020
28       1       M        M020
29       1       M        M020
...    ...     ...         ...
27581   32       K        K556
27582   32       K        K556
27583   32       K        K556
27584   32       K        K556
27585   32       K        K556
27586   32       K        K556
27587   32       K        K556
27588   32       K        K556
27589   32       K        K556
27590   32       K        K556
27591   32       K        K556
27592   32       K        K556
27593   32       K        K556
27594   32       K        K556
27595   32       K        K564
27596   32       K        K564
27597   32       K        K564
27598   32       K        K564
27599   32       K        K564
27600   32       K        K564
27601   32       K        K564
27602   32       K        K564
27603   32       K        K564
27604   32       K        K564
27605   32       K        K564
27606   32       K        K564
27607   32       K        K564
27608   32       K        K564
27609   32       K        K564
27610   32       K        K564

                                             SCHOOL NAME GRADE  PROGRAM TYPE  \
0                              P.S. 015 Roberto Clemente     0K       GEN ED
1                              P.S. 015 Roberto Clemente     0K          CTT
2                              P.S. 015 Roberto Clemente     01       GEN ED
3                              P.S. 015 Roberto Clemente     01          CTT
4                              P.S. 015 Roberto Clemente     02       GEN ED
5                              P.S. 015 Roberto Clemente     02          CTT
6                              P.S. 015 Roberto Clemente     03       GEN ED
7                              P.S. 015 Roberto Clemente     03          CTT
8                              P.S. 015 Roberto Clemente     04       GEN ED
9                              P.S. 015 Roberto Clemente     05       GEN ED
10                             P.S. 015 Roberto Clemente  0K-09      SPEC ED
11                             P.S. 015 Roberto Clemente    NaN          NaN
12                                   P.S. 019 Asher Levy     0K       GEN ED
13                                   P.S. 019 Asher Levy     0K          CTT
14                                   P.S. 019 Asher Levy     01       GEN ED
15                                   P.S. 019 Asher Levy     01          CTT
16                                   P.S. 019 Asher Levy     02       GEN ED
17                                   P.S. 019 Asher Levy     03       GEN ED
18                                   P.S. 019 Asher Levy     04       GEN ED
19                                   P.S. 019 Asher Levy     04          CTT
20                                   P.S. 019 Asher Levy     05       GEN ED
21                                   P.S. 019 Asher Levy     05          CTT
22                                   P.S. 019 Asher Levy  0K-09      SPEC ED
23                                   P.S. 019 Asher Levy  0K-09      SPEC ED
24                                   P.S. 019 Asher Levy    NaN          NaN
25                                  P.S. 020 Anna Silver     0K       GEN ED
26                                  P.S. 020 Anna Silver     0K          CTT
27                                  P.S. 020 Anna Silver     01       GEN ED
28                                  P.S. 020 Anna Silver     01          CTT
29                                  P.S. 020 Anna Silver     02       GEN ED
...                                                  ...    ...          ...
27581  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED
27582  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED
27583  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED
27584  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED
27585  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED
27586  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
27587  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
27588  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
27589  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
27590  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
27591  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
27592  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
27593  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
27594  Bushwick Leaders High School for Academic Exce...    NaN          NaN
27595                     Bushwick Community High School  09-12       GEN ED
27596                     Bushwick Community High School  09-12       GEN ED
27597                     Bushwick Community High School  09-12       GEN ED
27598                     Bushwick Community High School  09-12       GEN ED
27599                     Bushwick Community High School  09-12       GEN ED
27600                     Bushwick Community High School  09-12       GEN ED
27601                     Bushwick Community High School  09-12       GEN ED
27602                     Bushwick Community High School  09-12       GEN ED
27603                     Bushwick Community High School  09-12       GEN ED
27604                     Bushwick Community High School  09-12       GEN ED
27605                     Bushwick Community High School  09-12       GEN ED
27606                     Bushwick Community High School  09-12       GEN ED
27607                     Bushwick Community High School  09-12       GEN ED
27608                     Bushwick Community High School  09-12       GEN ED
27609                     Bushwick Community High School  09-12          CTT
27610                     Bushwick Community High School    NaN          NaN

      CORE SUBJECT (MS CORE and 9-12 ONLY)  \
0                                        -
1                                        -
2                                        -
3                                        -
4                                        -
5                                        -
6                                        -
7                                        -
8                                        -
9                                        -
10                                       -
11                                     NaN
12                                       -
13                                       -
14                                       -
15                                       -
16                                       -
17                                       -
18                                       -
19                                       -
20                                       -
21                                       -
22                                       -
23                                       -
24                                     NaN
25                                       -
26                                       -
27                                       -
28                                       -
29                                       -
...                                    ...
27581                              SCIENCE
27582                       SOCIAL STUDIES
27583                       SOCIAL STUDIES
27584                       SOCIAL STUDIES
27585                       SOCIAL STUDIES
27586                              ENGLISH
27587                              ENGLISH
27588                              ENGLISH
27589                                 MATH
27590                              SCIENCE
27591                              SCIENCE
27592                              SCIENCE
27593                       SOCIAL STUDIES
27594                                  NaN
27595                              ENGLISH
27596                              ENGLISH
27597                              ENGLISH
27598                              ENGLISH
27599                                 MATH
27600                                 MATH
27601                              SCIENCE
27602                              SCIENCE
27603                              SCIENCE
27604                              SCIENCE
27605                       SOCIAL STUDIES
27606                       SOCIAL STUDIES
27607                       SOCIAL STUDIES
27608                       SOCIAL STUDIES
27609                                 MATH
27610                                  NaN

      CORE COURSE (MS CORE and 9-12 ONLY) SERVICE CATEGORY(K-9* ONLY)  \
0                                       -                           -
1                                       -                           -
2                                       -                           -
3                                       -                           -
4                                       -                           -
5                                       -                           -
6                                       -                           -
7                                       -                           -
8                                       -                           -
9                                       -                           -
10                                      -                      12:1:1
11                                    NaN                         NaN
12                                      -                           -
13                                      -                           -
14                                      -                           -
15                                      -                           -
16                                      -                           -
17                                      -                           -
18                                      -                           -
19                                      -                           -
20                                      -                           -
21                                      -                           -
22                                      -                        12:1
23                                      -                      12:1:1
24                                    NaN                         NaN
25                                      -                           -
26                                      -                           -

CSV files are read using pandas and placed into a dictionary using the file name as a key.

In [2]:
all_survey = pd.read_csv('schools/survey_all.txt', delimiter='\t',
                         encoding='windows-1252')
d75_survey = pd.read_csv('schools/survey_d75.txt', delimiter='\t', 
                         encoding='windows-1252')

survey = pd.concat([all_survey, d75_survey], axis=0)

print(survey.head(5))

     N_p    N_s   N_t  aca_p_11  aca_s_11  aca_t_11  aca_tot_11    bn  \
0   90.0    NaN  22.0       7.8       NaN       7.9         7.9  M015
1  161.0    NaN  34.0       7.8       NaN       9.1         8.4  M019
2  367.0    NaN  42.0       8.6       NaN       7.5         8.0  M020
3  151.0  145.0  29.0       8.5       7.4       7.8         7.9  M034
4   90.0    NaN  23.0       7.9       NaN       8.1         8.0  M063

   com_p_11  com_s_11   ...    t_q8c_1  t_q8c_2  t_q8c_3 t_q8c_4  t_q9  \
0       7.6       NaN   ...       29.0     67.0      5.0     0.0   NaN
1       7.6       NaN   ...       74.0     21.0      6.0     0.0   NaN
2       8.3       NaN   ...       33.0     35.0     20.0    13.0   NaN
3       8.2       5.9   ...       21.0     45.0     28.0     7.0   NaN
4       7.9       NaN   ...       59.0     36.0      5.0     0.0   NaN

   t_q9_1  t_q9_2  t_q9_3  t_q9_4  t_q9_5
0     5.0    14.0    52.0    24.0     5.0
1     3.0     6.0     3.0    78.0     9.0
2     3.0     5.0    16.0    70.0     5.0
3     0.0    18.0    32.0    39.0    11.0
4    10.0     5.0    10.0    60.0    15.0

[5 rows x 2773 columns]

Text files are read using pandas. The files are then combined connecting at the index. In other words, `d75_survey` is connected to `all_survey` right after the last row of `all_survey`.

In [4]:
survey['DBN'] = survey['dbn']

cols = ["DBN", "rr_s", "rr_t", "rr_p", "N_s", "N_t", "N_p", "saf_p_11", "com_p_11", "eng_p_11", "aca_p_11", "saf_t_11", "com_t_11", "eng_t_11", "aca_t_11", "saf_s_11", "com_s_11", "eng_s_11", "aca_s_11", "saf_tot_11", "com_tot_11", "eng_tot_11", "aca_tot_11"]

data['survey'] = survey[cols]

print(data['survey'])

       DBN   rr_s  rr_t  rr_p    N_s    N_t    N_p  saf_p_11  com_p_11  \
0   01M015    NaN    88    60    NaN   22.0   90.0       8.5       7.6
1   01M019    NaN   100    60    NaN   34.0  161.0       8.4       7.6
2   01M020    NaN    88    73    NaN   42.0  367.0       8.9       8.3
3   01M034   89.0    73    50  145.0   29.0  151.0       8.8       8.2
4   01M063    NaN   100    60    NaN   23.0   90.0       8.7       7.9
5   01M064    NaN    94    61    NaN   32.0  159.0       8.8       8.2
6   01M110    NaN    91    79    NaN   32.0  302.0       8.4       7.6
7   01M134    NaN    74    66    NaN   23.0  192.0       9.0       7.9
8   01M137    NaN    67    75    NaN   14.0  145.0       8.7       8.0
9   01M140   98.0    94    68  185.0   34.0  213.0       8.8       8.0
10  01M142    NaN   100   100    NaN   38.0  331.0       9.1       8.0
11  01M184   96.0    82    80  156.0   36.0  382.0       8.7       8.1
12  01M188   82.0    59    40  119.0   22.0  106.0       8.7       8.1
13  01M292   89.0    70    39  379.0   26.0  151.0       7.8       7.7
14  01M301   99.0   100    21  181.0   22.0   38.0       8.5       7.3
15  01M315    NaN   100    67    NaN   20.0  135.0       9.0       8.6
16  01M332   96.0   100    86  110.0   14.0   93.0       8.4       7.9
17  01M345  100.0    87    53  254.0   20.0  127.0       8.4       7.6
18  01M361    NaN    74    42    NaN   17.0   93.0       8.9       8.2
19  01M363    NaN    54    40    NaN   13.0  115.0       8.7       8.1
20  01M364    NaN    86    54    NaN   19.0  152.0       9.3       8.9
21  01M378   78.0    91    82  204.0   20.0  203.0       8.8       7.9
22  01M448   84.0    95    10  385.0   37.0   46.0       7.9       7.4
23  01M450    0.0    98    28    NaN   42.0  150.0       8.7       8.2
24  01M458   40.0   100    23   66.0   10.0   37.0       8.1       7.0
25  01M509   90.0   100    21  306.0   29.0   69.0       7.7       7.4
26  01M515   95.0   100    86  454.0   36.0  389.0       8.3       7.2
27  01M539   98.0    68    51  923.0   67.0  736.0       8.5       7.9
28  01M650   75.0    86    19  125.0   12.0   30.0       9.0       8.4
29  01M696   98.0    81    50  561.0   30.0  283.0       8.8       8.2
..     ...    ...   ...   ...    ...    ...    ...       ...       ...
26  75M811   62.0    61    54   44.0   54.0  172.0       8.8       8.4
27  75Q004   89.0    92    54   24.0   95.0  198.0       9.0       8.4
28  75Q009   57.0    61    39   51.0   59.0  163.0       8.9       8.2
29  75Q023   75.0    93    21   93.0   65.0   52.0       8.7       8.0
30  75Q075   40.0    69    28   23.0   57.0   85.0       8.7       7.7
31  75Q177   64.0    70    41   95.0   85.0  197.0       8.9       8.0
32  75Q224   97.0    75    49   62.0   75.0  205.0       9.0       8.3
33  75Q233   85.0    73    26  121.0   56.0  101.0       8.9       8.0
34  75Q255   71.0    60    48   12.0   76.0  194.0       8.9       8.2
35  75Q256   88.0    93    46  195.0  105.0  184.0       8.6       8.0
36  75Q721   90.0    77    43  195.0   61.0  172.0       8.9       8.1
37  75Q752   45.0    47     9  160.0   36.0   34.0       8.5       7.5
38  75Q811   75.0    71    34  101.0   49.0  111.0       8.8       8.0
39  75Q993   87.0    76    47   90.0   71.0  185.0       9.2       8.5
40  75R025   57.0    75    21  238.0   70.0   97.0       8.1       7.5
41  75R037    0.0    55    46    NaN   52.0  143.0       8.9       8.0
42  75R373   92.0    60    34   22.0   64.0  132.0       8.8       8.1
43  75R721   96.0    93    57   82.0   71.0  187.0       9.1       8.5
44  75X010   84.0    91    56   76.0   86.0  247.0       9.0       8.5
45  75X012   19.0    47     9   37.0   25.0   18.0       5.8       6.5
46  75X017   69.0    79    37   64.0   72.0  122.0       8.8       8.1
47  75X168   92.0    71    53   78.0   61.0  206.0       8.9       8.5
48  75X176   86.0    55    35  130.0   96.0  233.0       9.1       8.6
49  75X186   95.0    67    32  105.0   64.0  152.0       8.3       7.8
50  75X188   27.0    47    28   65.0   52.0  117.0       8.8       8.1
51  75X352   90.0    58    48   38.0   46.0  160.0       8.9       8.3
52  75X721   84.0    90    48  237.0   82.0  239.0       8.6       7.6
53  75X723   77.0    74    20  103.0   69.0   74.0       8.4       7.8
54  75X754   63.0    93    22  336.0   82.0  124.0       8.3       7.5
55  75X811   38.0    63    19   44.0   71.0  119.0       8.5       7.8

    eng_p_11     ...      eng_t_11  aca_t_11  saf_s_11  com_s_11  eng_s_11  \
0        7.5     ...           7.6       7.9       NaN       NaN       NaN
1        7.6     ...           8.9       9.1       NaN       NaN       NaN
2        8.3     ...           6.8       7.5       NaN       NaN       NaN
3        8.0     ...           6.8       7.8       6.2       5.9       6.5
4        8.1     ...           7.8       8.1       NaN       NaN       NaN
5        8.2     ...           8.3       8.5       NaN       NaN       NaN
6        7.6     ...           5.7       6.5       NaN       NaN       NaN
7        8.0     ...           6.5       7.3       NaN       NaN       NaN
8        8.0     ...           6.1       6.9       NaN       NaN       NaN
9        8.1     ...           6.3       7.3       7.6       6.7       7.5
10       8.1     ...           7.8       8.1       NaN       NaN       NaN
11       8.0     ...           7.2       8.1       7.4       5.9       7.2
12       8.2     ...           5.7       6.4       6.8       6.3       7.0
13       7.4     ...           6.1       6.5       6.0       5.6       6.1
14       7.4     ...           8.5       8.0       5.8       5.9       6.4
15       8.8     ...           8.3       8.2       NaN       NaN       NaN
16       7.8     ...           8.5       8.8       7.2       6.6       7.0
17       7.6     ...           6.0       6.5       7.0       6.3       7.0
18       8.3     ...           8.6       8.6       NaN       NaN       NaN
19       8.4     ...           7.7       7.4       NaN       NaN       NaN
20       8.9     ...           9.1       9.0       NaN       NaN       NaN
21       7.8     ...           5.1       6.6       7.5       7.7       7.3
22       7.2     ...           6.6       7.3       6.0       5.7       6.3
23       8.1     ...           8.0       8.8       NaN       NaN       NaN
24       6.7     ...           8.9       8.9       6.8       6.1       6.1
25       7.2     ...           6.1       6.8       6.4       5.9       6.4
26       7.4     ...           8.7       9.1       8.0       6.3       7.0
27       7.9     ...           5.9       7.3       7.3       6.4       7.0
28       8.1     ...           8.3       8.7       8.1       6.9       7.9
29       8.3     ...           7.5       8.3       8.3       7.3       8.0
..       ...     ...           ...       ...       ...       ...       ...
26       8.1     ...           7.5       7.7       7.3       6.8       7.7
27       8.2     ...           7.3       7.9       7.5       7.1       8.4
28       7.9     ...           6.7       7.0       6.3       6.0       7.4
29       8.2     ...           6.5       7.5       6.8       5.9       7.4
30       7.5     ...           6.5       7.2       7.4       6.9       8.0
31       7.8     ...           7.9       8.1       8.8       8.3       8.8
32       8.1     ...           7.4       7.9       7.7       6.8       7.8
33       7.9     ...           7.5       8.3       7.9       7.4       7.8
34       8.0     ...           7.9       7.9       7.9       6.2       7.2
35       8.1     ...           7.1       8.0       6.7       6.5       7.4
36       7.9     ...           6.6       6.9       8.3       7.5       8.1
37       7.3     ...           5.5       5.9       6.5       5.7       6.8
38       7.9     ...           7.8       8.2       8.1       7.3       8.4
39       8.4     ...           7.0       7.7       8.5       8.0       8.4
40       7.4     ...           6.6       7.8       6.9       5.9       6.9
41       8.0     ...           7.5       7.4       NaN       NaN       NaN
42       8.1     ...           6.6       6.9       8.1       8.0       8.7
43       8.4     ...           8.2       9.1       8.8       8.1       8.9
44       8.3     ...           7.2       7.9       7.4       7.3       7.6
45       6.3     ...           5.2       5.3       5.7       5.7       6.8
46       7.9     ...           6.7       7.0       6.6       6.4       7.6
47       8.2     ...           7.3       7.6       6.6       6.7       7.6
48       8.5     ...           7.3       7.4       7.7       5.9       7.6
49       7.8     ...           7.1       8.0       7.6       8.1       8.0
50       7.9     ...           6.3       6.6       6.8       5.9       7.1
51       7.9     ...           5.7       5.8       6.8       6.0       7.8
52       7.5     ...           6.7       7.0       7.8       7.2       7.8
53       7.8     ...           6.7       7.6       6.7       7.2       7.7
54       7.5     ...           6.6       7.1       6.8       6.6       7.6
55       7.7     ...           6.5       7.0       7.7       6.1       7.7

    aca_s_11  saf_tot_11  com_tot_11  eng_tot_11  aca_tot_11
0        NaN         8.0         7.7         7.5         7.9
1        NaN         8.5         8.1         8.2         8.4
2        NaN         8.2         7.3         7.5         8.0
3        7.4         7.3         6.7         7.1         7.9
4        NaN         8.5         7.6         7.9         8.0
5        NaN         8.7         7.9         8.2         8.5
6        NaN         7.6         6.4         6.6         7.1
7        NaN         7.7         7.0         7.2         7.6
8        NaN         7.8         7.2         7.1         7.5
9        8.0         7.9         7.1         7.3         7.9
10       NaN         8.4         7.6         8.0         8.2
11       7.7         8.0         6.9         7.5         7.9
12       7.5         7.0         6.5         7.0         7.2
13       6.7         6.7         6.2         6.6         7.0
14       7.0         7.3         6.9         7.4         7.5
15       NaN         8.7         8.2         8.5         8.5
16       8.1         8.0         7.4         7.7         8.3
17       7.6         7.3         6.3         6.9         7.3
18       NaN         8.6         8.0         8.5         8.5
19       NaN         8.3         7.2         8.1         7.6
20       NaN         9.3         8.7         9.0         8.9
21       8.0         7.6         6.8         6.7         7.7
22       7.0         6.8         6.3         6.7         7.2
23       NaN         7.9         7.9         7.9         8.4
24       6.8         7.8         7.1         7.2         7.8
25       7.0         6.9         6.2         6.6         7.0
26       7.3         8.5         7.0         7.7         8.0
27       7.7         7.8         6.7         6.9         7.8
28       8.4         8.3         7.6         8.1         8.6
29       8.9         8.5         7.6         8.0         8.7
..       ...         ...         ...         ...         ...
26       8.0         7.9         7.5         7.8         7.9
27       8.7         8.2         7.7         8.0         8.4
28       7.7         7.5         7.1         7.3         7.6
29       7.5         7.5         6.9         7.4         7.8
30       8.4         7.7         7.1         7.4         7.8
31       8.8         8.7         8.1         8.2         8.3
32       8.0         8.2         7.6         7.8         8.1
33       7.8         8.3         7.8         7.7         8.1
34       7.1         8.3         7.5         7.7         7.7
35       7.5         7.5         7.3         7.5         7.9
36       8.1         8.1         7.4         7.5         7.7
37       7.1         6.7         6.1         6.4         6.6
38       8.2         8.5         7.8         8.0         8.2
39       8.9         8.6         8.0         7.9         8.4
40       7.3         7.4         7.0         6.9         7.6
41       NaN         8.3         7.4         7.6         7.5
42       8.5         8.0         7.6         7.8         7.9
43       8.8         9.0         8.4         8.5         8.8
44       7.8         8.0         7.9         7.7         8.1
45       6.5         5.2         5.8         5.8         5.8
46       8.0         7.5         7.1         7.4         7.7
47       7.8         7.6         7.6         7.7         7.9
48       7.3         8.1         7.4         7.8         7.8
49       8.6         7.9         7.8         7.7         8.2
50       7.6         7.3         6.8         7.1         7.4
51       7.6         7.4         6.6         7.1         7.2
52       7.9         8.0         7.1         7.3         7.6
53       7.7         7.6         7.4         7.4         7.7
54       7.7         7.2         6.9         7.3         7.5
55       7.7         7.7         6.8         7.3         7.5

[1702 rows x 23 columns]

The **DBN** column of `survey` is created to match the formatting of the other files.

The `survey` data is added to the data dictionary.

In [5]:
data['hs_directory']['DBN'] = data['hs_directory']['dbn']

def pad_csd(csd_num):
    csd_str = str(csd_num)
    if len(csd_str) < 2:
        csd_str = csd_str.zfill(2)
    return csd_str

data['class_size']['padded_csd'] = data['class_size']['CSD'].apply(pad_csd)

data['class_size']['DBN'] = data['class_size']['padded_csd'] + data['class_size']['SCHOOL CODE']

print(data['class_size'].head())

   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED
3    1       M        M015  P.S. 015 Roberto Clemente     01          CTT
4    1       M        M015  P.S. 015 Roberto Clemente     02       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -
3                                    -                                   -
4                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                               19.0
1                           -                               21.0
2                           -                               17.0
3                           -                               17.0
4                           -                               15.0

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0
3                 1.0                17.0                    17.0
4                 1.0                15.0                    15.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO  \
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
2                   17.0         ATS                             NaN
3                   17.0         ATS                             NaN
4                   15.0         ATS                             NaN

  padded_csd     DBN
0         01  01M015
1         01  01M015
2         01  01M015
3         01  01M015
4         01  01M015

The **DBN** column of `hs_directory` is created to match the formatting of the other files.

The **DBN** column is created in `class_size` by combining information from other columns.

In [6]:
cols = ['SAT Math Avg. Score', 'SAT Critical Reading Avg. Score', 'SAT Writing Avg. Score']

for c in cols:
    data['sat_results'][c] = pd.to_numeric(data['sat_results'][c], errors='coerce')
    
data['sat_results']['sat_score'] = data['sat_results'][cols[0]] + data['sat_results'][cols[1]] + data['sat_results'][cols[2]]

print(data['sat_results']['sat_score'].head())

0    1122.0
1    1172.0
2    1149.0
3    1174.0
4    1207.0
Name: sat_score, dtype: float64

The **sat_score** column is created.

In [7]:
import re

def get_lat(string):
    cords = re.findall('\(.+\)', string)
    lat = cords[0].split(',')[0].replace('(','')
    return lat

def get_lon(string):
    cords = re.findall('\(.+\)', string)
    lon = cords[0].split(',')[1].replace(')','')
    return lon

data['hs_directory']['lat'], data['hs_directory']['lon'] = data['hs_directory']['Location 1'].apply(get_lat), data['hs_directory']['Location 1'].apply(get_lon)

data['hs_directory']['lat'], data['hs_directory']['lon'] = pd.to_numeric(data['hs_directory']['lat'], errors='coerc'), pd.to_numeric(data['hs_directory']['lon'], errors='coerc')

print(data['hs_directory'].head())

      dbn                                        school_name       boro  \
0  17K548                Brooklyn School for Music & Theatre   Brooklyn
1  09X543                   High School for Violin and Dance      Bronx
2  09X327        Comprehensive Model School Project M.S. 327      Bronx
3  02M280     Manhattan Early College School for Advertising  Manhattan
4  28Q680  Queens Gateway to Health Sciences Secondary Sc...     Queens

  building_code    phone_number    fax_number grade_span_min  grade_span_max  \
0          K440    718-230-6250  718-230-6262              9              12
1          X400    718-842-0687  718-589-9849              9              12
2          X240    718-294-8111  718-294-8109              6              12
3          M520  718-935-3477             NaN              9              10
4          Q695    718-969-3155  718-969-3552              6              12

  expgrade_span_min  expgrade_span_max    ...      \
0               NaN                NaN    ...
1               NaN                NaN    ...
2               NaN                NaN    ...
3                 9               14.0    ...
4               NaN                NaN    ...

                        priority05 priority06 priority07 priority08  \
0                              NaN        NaN        NaN        NaN
1                              NaN        NaN        NaN        NaN
2  Then to New York City residents        NaN        NaN        NaN
3                              NaN        NaN        NaN        NaN
4                              NaN        NaN        NaN        NaN

  priority09  priority10                                         Location 1  \
0        NaN         NaN  883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...
1        NaN         NaN  1110 Boston Road\nBronx, NY 10456\n(40.8276026...
2        NaN         NaN  1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...
3        NaN         NaN  411 Pearl Street\nNew York, NY 10038\n(40.7106...
4        NaN         NaN  160-20 Goethals Avenue\nJamaica, NY 11432\n(40...

      DBN        lat        lon
0  17K548  40.670299 -73.961648
1  09X543  40.827603 -73.904475
2  09X327  40.842414 -73.916162
3  02M280  40.710679 -74.000807
4  28Q680  40.718810 -73.806500

[5 rows x 61 columns]

Latitude and Longitude are parsed from the **Location 1** column and placed in the **lat** and **lon** columns.

In [8]:
class_size = data['class_size']
class_size = class_size[class_size['GRADE '] == '09-12']
class_size = class_size[class_size['PROGRAM TYPE'] == 'GEN ED']

print(class_size.head())

     CSD BOROUGH SCHOOL CODE                                    SCHOOL NAME  \
225    1       M        M292  Henry Street School for International Studies
226    1       M        M292  Henry Street School for International Studies
227    1       M        M292  Henry Street School for International Studies
228    1       M        M292  Henry Street School for International Studies
229    1       M        M292  Henry Street School for International Studies

    GRADE  PROGRAM TYPE CORE SUBJECT (MS CORE and 9-12 ONLY)  \
225  09-12       GEN ED                              ENGLISH
226  09-12       GEN ED                              ENGLISH
227  09-12       GEN ED                              ENGLISH
228  09-12       GEN ED                              ENGLISH
229  09-12       GEN ED                                 MATH

    CORE COURSE (MS CORE and 9-12 ONLY) SERVICE CATEGORY(K-9* ONLY)  \
225                           English 9                           -
226                          English 10                           -
227                          English 11                           -
228                          English 12                           -
229                  Integrated Algebra                           -

     NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  \
225                               63.0                 3.0
226                               79.0                 3.0
227                               38.0                 2.0
228                               69.0                 3.0
229                               53.0                 3.0

     AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS  \
225                21.0                    19.0                   25.0
226                26.3                    24.0                   31.0
227                19.0                    16.0                   22.0
228                23.0                    13.0                   30.0
229                17.7                    16.0                   21.0

    DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO padded_csd     DBN
225       STARS                             NaN         01  01M292
226       STARS                             NaN         01  01M292
227       STARS                             NaN         01  01M292
228       STARS                             NaN         01  01M292
229       STARS                             NaN         01  01M292

`class_size` is filtered to only contain data from grades 9-12 and Gen Ed.

In [10]:
import numpy

class_size = class_size.groupby('DBN').agg(numpy.mean)
class_size.reset_index(inplace=True)
data['class_size'] = class_size
print(data['class_size'].head())

      DBN  CSD  NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  \
0  01M292    1                            88.0000            4.000000
1  01M332    1                            46.0000            2.000000
2  01M378    1                            33.0000            1.000000
3  01M448    1                           105.6875            4.750000
4  01M450    1                            57.6000            2.733333

   AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS  \
0           22.564286                   18.50              26.571429
1           22.000000                   21.00              23.500000
2           33.000000                   33.00              33.000000
3           22.231250                   18.25              27.062500
4           21.200000                   19.40              22.866667

   SCHOOLWIDE PUPIL-TEACHER RATIO
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN

`class_size` is then grouped by **DBN** and averaged.

In [9]:
data['demographics'] = data['demographics'][data['demographics']['schoolyear'] == 20112012]

print(data['demographics'].head())

       DBN                                              Name  schoolyear  \
6   01M015  P.S. 015 ROBERTO CLEMENTE                           20112012
13  01M019  P.S. 019 ASHER LEVY                                 20112012
20  01M020  PS 020 ANNA SILVER                                  20112012
27  01M034  PS 034 FRANKLIN D ROOSEVELT                         20112012
35  01M063  PS 063 WILLIAM MCKINLEY                             20112012

   fl_percent  frl_percent  total_enrollment prek    k grade1 grade2  \
6         NaN         89.4               189   13   31     35     28
13        NaN         61.5               328   32   46     52     54
20        NaN         92.5               626   52  102    121     87
27        NaN         99.7               401   14   34     38     36
35        NaN         78.9               176   18   20     30     21

      ...     black_num black_per hispanic_num hispanic_per white_num  \
6     ...            63      33.3          109         57.7         4
13    ...            81      24.7          158         48.2        28
20    ...            55       8.8          357         57.0        16
27    ...            90      22.4          275         68.6         8
35    ...            41      23.3          110         62.5        15

   white_per male_num male_per female_num female_per
6        2.1     97.0     51.3       92.0       48.7
13       8.5    147.0     44.8      181.0       55.2
20       2.6    330.0     52.7      296.0       47.3
27       2.0    204.0     50.9      197.0       49.1
35       8.5     97.0     55.1       79.0       44.9

[5 rows x 38 columns]

`demographics` is filtered to only contain data from 2011 - 2012.

In [10]:
graduation = data['graduation']

graduation = graduation[graduation['Cohort'] == '2006']
graduation = graduation[graduation['Demographic'] == 'Total Cohort']

data['graduation'] = graduation

print(data['graduation'].head())

     Demographic     DBN                            School Name Cohort  \
3   Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL   2006
10  Total Cohort  01M448    UNIVERSITY NEIGHBORHOOD HIGH SCHOOL   2006
17  Total Cohort  01M450             EAST SIDE COMMUNITY SCHOOL   2006
24  Total Cohort  01M509                MARTA VALLE HIGH SCHOOL   2006
31  Total Cohort  01M515  LOWER EAST SIDE PREPARATORY HIGH SCHO   2006

    Total Cohort Total Grads - n Total Grads - % of cohort Total Regents - n  \
3             78              43                     55.1%                36
10           124              53                     42.7%                42
17            90              70                     77.8%                67
24            84              47                       56%                40
31           193             105                     54.4%                91

   Total Regents - % of cohort Total Regents - % of grads  \
3                        46.2%                      83.7%
10                       33.9%                      79.2%
17         74.400000000000006%                      95.7%
24                       47.6%                      85.1%
31                       47.2%                      86.7%

              ...            Regents w/o Advanced - n  \
3             ...                                  36
10            ...                                  34
17            ...                                  67
24            ...                                  23
31            ...                                  22

   Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
3                               46.2%                             83.7%
10                              27.4%                             64.2%
17                74.400000000000006%                             95.7%
24                              27.4%                             48.9%
31                              11.4%                               21%

   Local - n Local - % of cohort Local - % of grads Still Enrolled - n  \
3          7                  9%              16.3%                 16
10        11                8.9%              20.8%                 46
17         3                3.3%               4.3%                 15
24         7  8.300000000000001%              14.9%                 25
31        14                7.3%              13.3%                 53

   Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
3                         20.5%              11                     14.1%
10                        37.1%              20       16.100000000000001%
17                        16.7%               5                      5.6%
24                        29.8%               5                        6%
31                        27.5%              35       18.100000000000001%

[5 rows x 23 columns]

`graduation` is filtered to only contain data where **Cohort** is 2006 and **Demographic** is Total Cohort.

In [11]:
cols = ['AP Test Takers ', 'Total Exams Taken', 'Number of Exams with scores 3 4 or 5']

for c in cols:
    data['ap_2010'][c] = pd.to_numeric(data['ap_2010'][c], errors='coerce')

print(data['ap_2010'])

        DBN                                         SchoolName  \
0    01M448                       UNIVERSITY NEIGHBORHOOD H.S.
1    01M450                             EAST SIDE COMMUNITY HS
2    01M515                                LOWER EASTSIDE PREP
3    01M539                     NEW EXPLORATIONS SCI,TECH,MATH
4    02M296              High School of Hospitality Management
5    02M298                                   Pace High School
6    02M300  Urban Assembly School of Design and Construction,
7    02M303                         Facing History School, The
8    02M305  Urban Assembly Academy of Government and Law, The
9    02M308                       Lower Manhattan Arts Academy
10   02M400                       HS FOR ENVIRONMENTAL STUDIES
11   02M408                       PROFESSIONAL PERFORMING ARTS
12   02M411                           BARUCH COLLEGE CAMPUS HS
13   02M412                       NYC LAB HS FOR COLL. STUDIES
14   02M413                               SCHOOL OF THE FUTURE
15   02M414                                  NYC MUSEUM SCHOOL
16   02M416                      Eleanor Roosevelt High School
17   02M418                             Millennium High School
18   02M420                           HEALTH PROF & HUMAN SVCS
19   02M425                        H S FOR LEADERSHIP & PUBLIC
20   02M429                                      LEGACY SCHOOL
21   02M439                       MANHATTAN VILLAGE ACADEMY HS
22   02M440                                  HS FOR HUMANITIES
23   02M459                        CES-MANHATTAN INTERNATIONAL
24   02M460                               WASHINGTON IRVING HS
25   02M475                                      STUYVESANT HS
26   02M489                          HS OF ECONOMICS & FINANCE
27   02M519                                   TALENT UNLIMITED
28   02M520                               MURRY BERGTRAUM H.S.
29   02M529                           JACQUELINE K. ONASSIS HS
..      ...                                                ...
228  28Q620                                  THOS A EDISON VHS
229  28Q680                         GATEWAY TO HEALTH SCIENCES
230  28Q687                Queens HS for Science York Colllege
231  28Q690  High School for Law Enforcement and Public Safety
232  28Q896           Young  Women's Leadership School, Queens
233  29Q248                         Queens Preparatory Academy
234  29Q259  Pathways College Preparatory School: A College...
235  29Q272  George Washington Carver High School for the S...
236  29Q283                    Preparatory Academy for Writers
237  29Q420                             SPRINGFIELD GARDENS HS
238  29Q492                     MATH/SCIENCE RESEARCH TECH CTR
239  29Q496                     BUSINESS/COMPUTER APPLICATIONS
240  30Q445                                WM CULLEN BRYANT HS
241  30Q450                                LONG ISLAND CITY HS
242  30Q501                          FRANK SINATRA HIGH SCHOOL
243  30Q502                          INFORMATION TECHNOLOGY HS
244  30Q555                         NEWCOMERS HS:ACAD AMER STD
245  30Q575                        ACADEMY OF AMER. STUDIES HS
246  31R080                         PS 080 MICHAEL J. PETRIDES
247  31R440                                        NEW DORP HS
248  31R445                                   PORT RICHMOND HS
249  31R450                                          CURTIS HS
250  31R455                                     TOTTENVILLE HS
251  31R460                                 SUSAN E. WAGNER HS
252  31R600                                    RAPLH MCKEE VHS
253  31R605                         STATEN ISLAND TECHNICAL HS
254  32K545                      EBC-HS FOR PUB SERVICE (BUSH)
255  32K552                          Academy of Urban Planning
256  32K554               All City Leadership Secondary School
257  32K556  Bushwick Leaders High School for Academic Exce...

     AP Test Takers   Total Exams Taken  Number of Exams with scores 3 4 or 5
0               39.0               49.0                                  10.0
1               19.0               21.0                                   NaN
2               24.0               26.0                                  24.0
3              255.0              377.0                                 191.0
4                NaN                NaN                                   NaN
5               21.0               21.0                                   NaN
6               99.0              117.0                                  10.0
7               42.0               44.0                                   NaN
8               25.0               37.0                                  15.0
9                NaN                NaN                                   NaN
10             213.0              298.0                                 152.0
11              20.0               20.0                                  15.0
12              78.0              115.0                                  88.0
13             114.0              140.0                                  97.0
14              11.0               11.0                                   NaN
15               NaN                NaN                                   NaN
16             155.0              235.0                                 169.0
17              86.0               95.0                                  67.0
18             204.0              248.0                                  75.0
19              70.0               84.0                                  32.0
20              22.0               26.0                                   NaN
21              42.0               69.0                                  29.0
22               6.0                6.0                                   NaN
23              12.0               12.0                                   6.0
24              69.0               83.0                                  21.0
25            1510.0             2819.0                                2648.0
26             101.0              176.0                                  78.0
27              30.0               34.0                                  21.0
28             118.0              157.0                                  76.0
29              80.0              118.0                                  29.0
..               ...                ...                                   ...
228            183.0              244.0                                 100.0
229             89.0              136.0                                  57.0
230            215.0              338.0                                 275.0
231             19.0               19.0                                   NaN
232              6.0                6.0                                   NaN
233             15.0               15.0                                   NaN
234             29.0               71.0                                   NaN
235             14.0               21.0                                   NaN
236             40.0               43.0                                   NaN
237              NaN                NaN                                   NaN
238             22.0               31.0                                   8.0
239              NaN                NaN                                   NaN
240            243.0              330.0                                  97.0
241            406.0              805.0                                 169.0
242            108.0              136.0                                  38.0
243             51.0               74.0                                  13.0
244            119.0              163.0                                 140.0
245            101.0              170.0                                 119.0
246            162.0              243.0                                  66.0
247             96.0              118.0                                  62.0
248            194.0              304.0                                  76.0
249            247.0              295.0                                  90.0
250            396.0              687.0                                 206.0
251            279.0              408.0                                 175.0
252              NaN                NaN                                   NaN
253            528.0              905.0                                 809.0
254             47.0               64.0                                  13.0
255             76.0              100.0                                  10.0
256              7.0                8.0                                   NaN
257             34.0               35.0                                  18.0

[258 rows x 5 columns]

The columns **AP Test Takers**, **Total Exams Taken**, and **Number of Exams with scores 3 4 or 5** were changed into numbers.

In [12]:
combined = data["sat_results"]
combined = combined.merge(data['ap_2010'], on='DBN', how='left')

combined = combined.merge(data['graduation'], on='DBN', how='left')

print(combined.head())
print(combined.shape)

      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers  SAT Critical Reading Avg. Score  \
0                     29                            355.0
1                     91                            383.0
2                     70                            377.0
3                      7                            414.0
4                     44                            390.0

   SAT Math Avg. Score  SAT Writing Avg. Score  sat_score  \
0                404.0                   363.0     1122.0
1                423.0                   366.0     1172.0
2                402.0                   370.0     1149.0
3                401.0                   359.0     1174.0
4                433.0                   384.0     1207.0

                     SchoolName  AP Test Takers   Total Exams Taken  \
0                           NaN              NaN                NaN
1  UNIVERSITY NEIGHBORHOOD H.S.             39.0               49.0
2        EAST SIDE COMMUNITY HS             19.0               21.0
3                           NaN              NaN                NaN
4                           NaN              NaN                NaN

             ...             Regents w/o Advanced - n  \
0            ...                                   36
1            ...                                   34
2            ...                                   67
3            ...                                  NaN
4            ...                                   23

  Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
0                              46.2%                             83.7%
1                              27.4%                             64.2%
2                74.400000000000006%                             95.7%
3                                NaN                               NaN
4                              27.4%                             48.9%

  Local - n  Local - % of cohort Local - % of grads Still Enrolled - n  \
0         7                   9%              16.3%                 16
1        11                 8.9%              20.8%                 46
2         3                 3.3%               4.3%                 15
3       NaN                  NaN                NaN                NaN
4         7   8.300000000000001%              14.9%                 25

  Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
0                        20.5%              11                     14.1%
1                        37.1%              20       16.100000000000001%
2                        16.7%               5                      5.6%
3                          NaN             NaN                       NaN
4                        29.8%               5                        6%

[5 rows x 33 columns]
(479, 33)

`sat_results` is being left-merged with `ap_2010`. This means that all of the **DBN** in `sat_results` is being kept.

If there is a *DBN* number that is in `sat_results`, but not in `ap_2010` the appened a data to the row will be filled with empty data.  
If there is a *DBN* number in `ap_2010` but not in `sat_results`, then the row will be dropped.

In [13]:
to_merge = ['class_size', 'demographics', 'survey', 'hs_directory']

for m in to_merge:
    combined = combined.merge(data[m], on='DBN', how='inner')

print(combined.head(5))
print(combined.shape)

      DBN                                        SCHOOL NAME  \
0  01M292      HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448                UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                         EAST SIDE COMMUNITY SCHOOL
3  01M509                            MARTA VALLE HIGH SCHOOL
4  01M539  NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...

  Num of SAT Test Takers  SAT Critical Reading Avg. Score  \
0                     29                            355.0
1                     91                            383.0
2                     70                            377.0
3                     44                            390.0
4                    159                            522.0

   SAT Math Avg. Score  SAT Writing Avg. Score  sat_score  \
0                404.0                   363.0     1122.0
1                423.0                   366.0     1172.0
2                402.0                   370.0     1149.0
3                433.0                   384.0     1207.0
4                574.0                   525.0     1621.0

                       SchoolName  AP Test Takers   Total Exams Taken  \
0                             NaN              NaN                NaN
1    UNIVERSITY NEIGHBORHOOD H.S.             39.0               49.0
2          EAST SIDE COMMUNITY HS             19.0               21.0
3                             NaN              NaN                NaN
4  NEW EXPLORATIONS SCI,TECH,MATH            255.0              377.0

     ...                                   priority04  \
0    ...      Then to Manhattan students or residents
1    ...                                          NaN
2    ...                                          NaN
3    ...                                          NaN
4    ...                                          NaN

                        priority05 priority06 priority07  priority08  \
0  Then to New York City residents        NaN        NaN         NaN
1                              NaN        NaN        NaN         NaN
2                              NaN        NaN        NaN         NaN
3                              NaN        NaN        NaN         NaN
4                              NaN        NaN        NaN         NaN

  priority09 priority10                                         Location 1  \
0        NaN        NaN  220 Henry Street\nNew York, NY 10002\n(40.7137...
1        NaN        NaN  200 Monroe Street\nNew York, NY 10002\n(40.712...
2        NaN        NaN  420 East 12 Street\nNew York, NY 10009\n(40.72...
3        NaN        NaN  145 Stanton Street\nNew York, NY 10002\n(40.72...
4        NaN        NaN  111 Columbia Street\nNew York, NY 10002\n(40.7...

         lat        lon
0  40.713764 -73.985260
1  40.712332 -73.984797
2  40.729783 -73.983041
3  40.720569 -73.985673
4  40.718725 -73.979426

[5 rows x 159 columns]
(363, 159)

Continue combining data. The rest will be combined using an inner-merge. This means it will keep the rows with matching **DBN** columns.

In [14]:
means = combined.mean()

combined = combined.fillna(means)
combined = combined.fillna(0)

print(combined.head())

      DBN                                        SCHOOL NAME  \
0  01M292      HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448                UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                         EAST SIDE COMMUNITY SCHOOL
3  01M509                            MARTA VALLE HIGH SCHOOL
4  01M539  NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...

  Num of SAT Test Takers  SAT Critical Reading Avg. Score  \
0                     29                            355.0
1                     91                            383.0
2                     70                            377.0
3                     44                            390.0
4                    159                            522.0

   SAT Math Avg. Score  SAT Writing Avg. Score  sat_score  \
0                404.0                   363.0     1122.0
1                423.0                   366.0     1172.0
2                402.0                   370.0     1149.0
3                433.0                   384.0     1207.0
4                574.0                   525.0     1621.0

                       SchoolName  AP Test Takers   Total Exams Taken  \
0                               0       129.028846         197.038462
1    UNIVERSITY NEIGHBORHOOD H.S.        39.000000          49.000000
2          EAST SIDE COMMUNITY HS        19.000000          21.000000
3                               0       129.028846         197.038462
4  NEW EXPLORATIONS SCI,TECH,MATH       255.000000         377.000000

     ...                                   priority04  \
0    ...      Then to Manhattan students or residents
1    ...                                            0
2    ...                                            0
3    ...                                            0
4    ...                                            0

                        priority05 priority06 priority07  priority08  \
0  Then to New York City residents          0          0           0
1                                0          0          0           0
2                                0          0          0           0
3                                0          0          0           0
4                                0          0          0           0

  priority09 priority10                                         Location 1  \
0          0          0  220 Henry Street\nNew York, NY 10002\n(40.7137...
1          0          0  200 Monroe Street\nNew York, NY 10002\n(40.712...
2          0          0  420 East 12 Street\nNew York, NY 10009\n(40.72...
3          0          0  145 Stanton Street\nNew York, NY 10002\n(40.72...
4          0          0  111 Columbia Street\nNew York, NY 10002\n(40.7...

         lat        lon
0  40.713764 -73.985260
1  40.712332 -73.984797
2  40.729783 -73.983041
3  40.720569 -73.985673
4  40.718725 -73.979426

[5 rows x 159 columns]

All empty cells are filled with the mean of its column, then any remaining empty cells are filled with 0.

In [15]:
def first_two(string):
    return string[0:2]

combined['school_dist'] = combined['DBN'].apply(first_two)

print(combined['school_dist'].head())

0    01
1    01
2    01
3    01
4    01
Name: school_dist, dtype: object

`school_dist` is added to the combined dataset which is just the first two values in the *DBN* name.

In [23]:
combined.to_csv('schools/combined.csv', index=False)

Export cleaned data set to new csv file.